<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--handler mapping-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>
    <!--handler adapter-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="webBindingInitializer" ref="webBindingInitializer"></property>

    </bean>
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">-->
        <!--<property name="webBindingInitializer">-->
            <!--<bean class="com.i2bgod.test.web.controller.support.initializer.MyWebBindingInitializer"></bean>-->
        <!--</property>-->
    <!--</bean>-->

   <!--webbindinginit -->
    <bean class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer" id="webBindingInitializer">
        <property name="conversionService" ref="conversionService"></property>
    </bean>

    <!--convert service-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
           <list>
               <bean class="com.i2bgod.test.web.controller.support.converter.StringToPhoneNumberConverter"></bean>
               <bean class="com.i2bgod.test.web.controller.support.converter.StringToDateConverter">
                   <constructor-arg value="yyyy-MM-dd"></constructor-arg>
               </bean>
           </list>
        </property>

    </bean>

    <!--view resolver-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <bean class="com.i2bgod.test.web.controller.databinder.DataBinderTestController"></bean>
</beans>